:root {
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Lora", serif;
  --primary-color: #212429;
  --secondary-color: #f5f2fe;
  --background-color: #f8ede3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container-no-navbar {
  margin-top: 50px;
  margin-bottom: 170px;
}

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.bridge {
  font-size: 18px;
  font-style: italic;
  font-family: var(--secondary-font);
}

.btn-primary {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  color: white !important;
}

.contact,
.about {
  margin: 20px;
  text-decoration: none;
  padding: 20px 15px;
  border-radius: 4px;
  text-transform: capitalize;
}

.contact {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.secondary-font {
  font-family: var(--secondary-font);
}

.mail-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 28px;
}

.mail-link:hover {
  text-decoration: underline;
}

.back-link {
  text-align: center;
  display: block;
  color: var(--primary-color);
}

.info-boxes {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.box-left,
.box-right {
  margin: 10px;
  background: var(--secondary-color);
  text-align: center;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
}

.header {
  background-color: var(--background-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-2 {
  background-color: var(--background-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.information {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5;
}

.information-secondary {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3,
  .information,
  .role {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading-project {
    font-size: 30px;
  }
  .bridge {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  h4 {
    font-size: 20px;
  }
}
